@* ViewModel goes here *@
@model Dish

@{
    ViewData["Title"] = @Model.Name;
}

<div class="text-center">
    <a href="/" class="btn btn-outline-primary text-dark mt-2">Home</a>
    <h1 class="mt-3">Edit @Model.Name</h1>
    
    <div class="d-flex justify-content-center mt-4">
        <form asp-action="UpdateDish" asp-controller="Home" method="post" class="form-group" style="width: 400px;">
        <div class="chef d-flex gap-5">
            <label asp-for="Chef"></label>
            <span asp-validation-for="Chef"></span>
            <input asp-for="Chef" value="@Model.Chef" class="form-control">
        </div>
        <div class="dishname d-flex gap-5">
            <label asp-for="Name"></label>
            <span asp-validation-for="Name"></span>
            <input asp-for="Name" value="@Model.Name" class="form-control">
        </div>
        <div class="calories d-flex gap-5">
            <label asp-for="Calories"></label>
            <span asp-validation-for="Calories"></span>
            <input asp-for="Calories" value="@Model.Calories" class="form-control">
        </div>
        <div class="tastiness d-flex gap-5">
            <label asp-for="Tastiness"></label>
            <span asp-validation-for="Tastiness"></span>
            <Select asp-for="Tastiness" class="form-select">
                <option class="form-select" value="1"> 1</option>
                <option class="form-select" value="2"> 2</option>
                <option class="form-select" value="3"> 3</option>
                <option class="form-select" value="4"> 4</option>
                <option class="form-select" value="5"> 5</option>
            </Select>
        </div>
        <div class="description d-flex gap-5">
            <label asp-for="Description"></label>
            <span asp-validation-for="Description"></span>
            <textarea asp-for="Description" value="@Model.Description" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-success text-dark mt-3">Edit Dish</button>
        </form>
    </div>
</div>