@model Wedding

@{
    ViewData["Title"] = "View Wedding Info";
}

<div class="d-flex justify-content-between">
    <h1>@Model.WedderOne and @Model.WedderTwo's Wedding</h1>
    <span>
        <a asp-controller="User" asp-action="Dashboard" class="btn btn-outline-info text-dark mt-3">Dashboard</a>
        <a asp-controller="User" asp-action="Logout" class="btn btn-outline-info text-dark mt-3">Log Out</a>
    </span>
</div>
<div class="main d-flex justify-content-around">
    <div class="col-med">
        @{
            string bigDay = Model.WeddingDate.ToString("MMMM dd, yyyy");
            <p class="fs-4 mt-3">@bigDay</p>
        }
        <br>

        @* iterate thru guest list ul  *@
        <ul class="fs-4 list-group">Guests:</ul>
        @{
            @if(Model.Users.Count > 0)
            {
                @foreach(var one in Model.Users)
                {
                    <li class="list-item">@one.User.FirstName @one.User.LastName</li>
                }
            }
        }
    </div>
    <div class="col-med mt-5">
        <div class="map">
            <iframe
                width="400"
                height="400"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC4WmIN47kMB1HqbQkBrN4xommVV96h8_A
                    &q=@Model.Address">
            </iframe>
        </div>
</div>
</div>
